# Python venv and caching
venv/
.pytest_cache/
__pycache__/
*.pyc

# Local databases/data
*.db
*.sqlite3

# Node modules and build output
node_modules/
dist/
.env
.env.local

# OS / Editor files
.DS_Store
.vscode/
.idea/
